
/* ANIMACJA NAWIGACJI + POZNAJ MNIE */

@keyframes czekanie{
    0%{
        border-color: rgb(0, 129, 161);
    }
    25%{
        border-color: var(--czerw);
    }
    50%{
        border-color: rgb(255, 174, 0);
    }
    75%{
        border-color: var(--czerw);
    }
    100%{
        border-color: rgb(0, 129, 161);
    }
}
@-webkit-keyframes czekanie{
    0%{
        border-color: rgb(0, 129, 161);
    }
    25%{
        border-color: var(--czerw);
    }
    50%{
        border-color: rgb(255, 174, 0);
    }
    75%{
        border-color: var(--czerw);
    }
    100%{
        border-color: rgb(0, 129, 161);
    }
}
@-moz-keyframes czekanie{
    0%{
        border-color: rgb(0, 129, 161);
    }
    25%{
        border-color: var(--czerw);
    }
    50%{
        border-color: rgb(255, 174, 0);
    }
    75%{
        border-color: var(--czerw);
    }
    100%{
        border-color: rgb(0, 129, 161);
    }
}
@-o-keyframes czekanie{
    0%{
        border-color: rgb(0, 129, 161);
    }
    25%{
        border-color: var(--czerw);
    }
    50%{
        border-color: rgb(255, 174, 0);
    }
    75%{
        border-color: var(--czerw);
    }
    100%{
        border-color: rgb(0, 129, 161);
    }
}

/* Animacja Paragrafów Linków */

@keyframes linkam {
    0%{
        color: var(--czerw);
        position: relative;
        top: 0;
        transform: translate(0,.0) scale(1);
        -webkit-transform: translate(0,.0) scale(1);
        -moz-transform: translate(0,.0) scale(1);
        -ms-transform: translate(0,.0) scale(1);
        -o-transform: translate(0,.0) scale(1);
    }
    25%{
        color: rgb(0, 129, 161);
        top: .1em;
        transform: translate(0,.15em) scale(0.8);
        -webkit-transform: translate(0,.15em) scale(0.8);
        -moz-transform: translate(0,.15em) scale(0.8);
        -ms-transform: translate(0,.15em) scale(0.8);
        -o-transform: translate(0,.15em) scale(0.8);
    }
    50%{
        top: 0;
        color: rgba(207, 0, 0, 0.863);
        transform: translate(0,.3em) scale(0.9);
        -webkit-transform: translate(0,.3em) scale(0.9);
        -moz-transform: translate(0,.3em) scale(0.9);
        -ms-transform: translate(0,.3em) scale(0.9);
        -o-transform: translate(0,.3em) scale(0.9);
        top: -1em;
    }
    75%{
        color: rgb(0, 129, 161);
        top: -1em;
    }
    100%{
        color: var(--czerw);
        top: 0;
        transform: translate(0,.0) scale(1);
        -webkit-transform: translate(0,.0) scale(1);
        -moz-transform: translate(0,.0) scale(1);
        -ms-transform: translate(0,.0) scale(1);
        -o-transform: translate(0,.0) scale(1);
    }
}
@-webkit-keyframes linkam {
    0%{
        color: var(--czerw);
        position: relative;
        top: 0;
        transform: translate(0,.0) scale(1);
        -webkit-transform: translate(0,.0) scale(1);
        -moz-transform: translate(0,.0) scale(1);
        -ms-transform: translate(0,.0) scale(1);
        -o-transform: translate(0,.0) scale(1);
    }
    25%{
        color: rgb(0, 129, 161);
        top: .1em;
        transform: translate(0,.15em) scale(0.8);
        -webkit-transform: translate(0,.15em) scale(0.8);
        -moz-transform: translate(0,.15em) scale(0.8);
        -ms-transform: translate(0,.15em) scale(0.8);
        -o-transform: translate(0,.15em) scale(0.8);
    }
    50%{
        top: 0;
        color: rgba(207, 0, 0, 0.863);
        transform: translate(0,.3em) scale(0.9);
        -webkit-transform: translate(0,.3em) scale(0.9);
        -moz-transform: translate(0,.3em) scale(0.9);
        -ms-transform: translate(0,.3em) scale(0.9);
        -o-transform: translate(0,.3em) scale(0.9);
        top: -1em;
    }
    75%{
        color: rgb(0, 129, 161);
        top: -1em;
    }
    100%{
        color: var(--czerw);
        top: 0;
        transform: translate(0,.0) scale(1);
        -webkit-transform: translate(0,.0) scale(1);
        -moz-transform: translate(0,.0) scale(1);
        -ms-transform: translate(0,.0) scale(1);
        -o-transform: translate(0,.0) scale(1);
    }
}
@-moz-keyframes linkam {
    0%{
        color: var(--czerw);
        position: relative;
        top: 0;
        transform: translate(0,.0) scale(1);
        -webkit-transform: translate(0,.0) scale(1);
        -moz-transform: translate(0,.0) scale(1);
        -ms-transform: translate(0,.0) scale(1);
        -o-transform: translate(0,.0) scale(1);
    }
    25%{
        color: rgb(0, 129, 161);
        top: .1em;
        transform: translate(0,.15em) scale(0.8);
        -webkit-transform: translate(0,.15em) scale(0.8);
        -moz-transform: translate(0,.15em) scale(0.8);
        -ms-transform: translate(0,.15em) scale(0.8);
        -o-transform: translate(0,.15em) scale(0.8);
    }
    50%{
        top: 0;
        color: rgba(207, 0, 0, 0.863);
        transform: translate(0,.3em) scale(0.9);
        -webkit-transform: translate(0,.3em) scale(0.9);
        -moz-transform: translate(0,.3em) scale(0.9);
        -ms-transform: translate(0,.3em) scale(0.9);
        -o-transform: translate(0,.3em) scale(0.9);
        top: -1em;
    }
    75%{
        color: rgb(0, 129, 161);
        top: -1em;
    }
    100%{
        color: var(--czerw);
        top: 0;
        transform: translate(0,.0) scale(1);
        -webkit-transform: translate(0,.0) scale(1);
        -moz-transform: translate(0,.0) scale(1);
        -ms-transform: translate(0,.0) scale(1);
        -o-transform: translate(0,.0) scale(1);
    }
}
@-o-keyframes linkam {
    0%{
        color: var(--czerw);
        position: relative;
        top: 0;
        transform: translate(0,.0) scale(1);
        -webkit-transform: translate(0,.0) scale(1);
        -moz-transform: translate(0,.0) scale(1);
        -ms-transform: translate(0,.0) scale(1);
        -o-transform: translate(0,.0) scale(1);
    }
    25%{
        color: rgb(0, 129, 161);
        top: .1em;
        transform: translate(0,.15em) scale(0.8);
        -webkit-transform: translate(0,.15em) scale(0.8);
        -moz-transform: translate(0,.15em) scale(0.8);
        -ms-transform: translate(0,.15em) scale(0.8);
        -o-transform: translate(0,.15em) scale(0.8);
    }
    50%{
        top: 0;
        color: rgba(207, 0, 0, 0.863);
        transform: translate(0,.3em) scale(0.9);
        -webkit-transform: translate(0,.3em) scale(0.9);
        -moz-transform: translate(0,.3em) scale(0.9);
        -ms-transform: translate(0,.3em) scale(0.9);
        -o-transform: translate(0,.3em) scale(0.9);
        top: -1em;
    }
    75%{
        color: rgb(0, 129, 161);
        top: -1em;
    }
    100%{
        color: var(--czerw);
        top: 0;
        transform: translate(0,.0) scale(1);
        -webkit-transform: translate(0,.0) scale(1);
        -moz-transform: translate(0,.0) scale(1);
        -ms-transform: translate(0,.0) scale(1);
        -o-transform: translate(0,.0) scale(1);
    }
}

/* ANIMACJA NAGŁÓWKÓW */

@keyframes naglowek {
    0%{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        opacity: 1;
        color:rgb(0, 129, 161);
        box-shadow: 0 0 .3em red;
        border-radius: .3em;
    }
    50%{
        transform: scale(.95);
        -webkit-transform: scale(.95);
        -moz-transform: scale(.95);
        -o-transform: scale(.95);
        -ms-transform: scale(.95);
        opacity: 0.6;
        color:rgb(0, 129, 161);
        box-shadow: 0 0 0 red;
    }
    100%{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        opacity: 1;
        color:rgb(0, 129, 161);
        box-shadow: 0 0 .3em red;
        border-radius: .3em;
    }
}
@-webkit-keyframes naglowek {
    0%{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        opacity: 1;
        color:rgb(0, 129, 161);
        box-shadow: 0 0 .3em red;
        border-radius: .3em;
    }
    50%{
        transform: scale(.95);
        -webkit-transform: scale(.95);
        -moz-transform: scale(.95);
        -o-transform: scale(.95);
        -ms-transform: scale(.95);
        opacity: 0.6;
        color:rgb(0, 129, 161);
        box-shadow: 0 0 0 red;
    }
    100%{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        opacity: 1;
        color:rgb(0, 129, 161);
        box-shadow: 0 0 .3em red;
        border-radius: .3em;
    }
}
@-moz-keyframes naglowek {
    0%{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        opacity: 1;
        color:rgb(0, 129, 161);
        box-shadow: 0 0 .3em red;
        border-radius: .3em;
    }
    50%{
        transform: scale(.95);
        -webkit-transform: scale(.95);
        -moz-transform: scale(.95);
        -o-transform: scale(.95);
        -ms-transform: scale(.95);
        opacity: 0.6;
        color:rgb(0, 129, 161);
        box-shadow: 0 0 0 red;
    }
    100%{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        opacity: 1;
        color:rgb(0, 129, 161);
        box-shadow: 0 0 .3em red;
        border-radius: .3em;
    }
}
@-o-keyframes naglowek {
    0%{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        opacity: 1;
        color:rgb(0, 129, 161);
        box-shadow: 0 0 .3em red;
        border-radius: .3em;
    }
    50%{
        transform: scale(.95);
        -webkit-transform: scale(.95);
        -moz-transform: scale(.95);
        -o-transform: scale(.95);
        -ms-transform: scale(.95);
        opacity: 0.6;
        color:rgb(0, 129, 161);
        box-shadow: 0 0 0 red;
    }
    100%{
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        opacity: 1;
        color:rgb(0, 129, 161);
        box-shadow: 0 0 .3em red;
        border-radius: .3em;
    }
}
@keyframes obrazki {
    0%{
        box-shadow: 0 0 1.5em var(--czerw);
        transform: scale(0.99);
        -moz-transform: scale(0.99);
        -o-transform: scale(0.99);
        -ms-transform: scale(0.99);
        -webkit-transform: scale(0.99);
    }
    50%{
        box-shadow: 0 0 0 var(--czerw);
        transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
    }
    100%{
        box-shadow: 0 0 1.5em var(--czerw);
        transform: scale(0.99);
        -moz-transform: scale(0.99);
        -o-transform: scale(0.99);
        -ms-transform: scale(0.99);
        -webkit-transform: scale(0.99);
    }
}
@-webkit-keyframes obrazki {
    0%{
        box-shadow: 0 0 1.5em var(--czerw);
        transform: scale(0.99);
        -moz-transform: scale(0.99);
        -o-transform: scale(0.99);
        -ms-transform: scale(0.99);
        -webkit-transform: scale(0.99);
    }
    50%{
        box-shadow: 0 0 0 var(--czerw);
        transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
    }
    100%{
        box-shadow: 0 0 1.5em var(--czerw);
        transform: scale(0.99);
        -moz-transform: scale(0.99);
        -o-transform: scale(0.99);
        -ms-transform: scale(0.99);
        -webkit-transform: scale(0.99);
    }
}
@-moz-keyframes obrazki {
    0%{
        box-shadow: 0 0 1.5em var(--czerw);
        transform: scale(0.99);
        -moz-transform: scale(0.99);
        -o-transform: scale(0.99);
        -ms-transform: scale(0.99);
        -webkit-transform: scale(0.99);
    }
    50%{
        box-shadow: 0 0 0 var(--czerw);
        transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
    }
    100%{
        box-shadow: 0 0 1.5em var(--czerw);
        transform: scale(0.99);
        -moz-transform: scale(0.99);
        -o-transform: scale(0.99);
        -ms-transform: scale(0.99);
        -webkit-transform: scale(0.99);
    }
}
@-o-keyframes obrazki {
    0%{
        box-shadow: 0 0 1.5em var(--czerw);
        transform: scale(0.99);
        -moz-transform: scale(0.99);
        -o-transform: scale(0.99);
        -ms-transform: scale(0.99);
        -webkit-transform: scale(0.99);
    }
    50%{
        box-shadow: 0 0 0 var(--czerw);
        transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
    }
    100%{
        box-shadow: 0 0 1.5em var(--czerw);
        transform: scale(0.99);
        -moz-transform: scale(0.99);
        -o-transform: scale(0.99);
        -ms-transform: scale(0.99);
        -webkit-transform: scale(0.99);
    }
}