/* DOMYŚLNE WARTOŚCI */
:root{
    font-size: 20px;
    --czerw: rgba(207, 0, 0, 0.863);
    scroll-behavior: smooth;
}
@font-face {
    font-family: 'Indie Flower';
     src: url('../fonts/IndieFlower-Regular.ttf') format('truetype');
    }
body{
    image-rendering: optimizeQuality;
    font-family: Indie Flower;
    color: rgb(200,200,200);
    width: 100%;
    background-image: url("../images/website/background.png");
    margin: 0 !important;
    padding: 0 !important;
    font-size: 16px;
    display: inline-block;
}
a,a:link,a:active,a:disabled{
    text-decoration: none;
    color: var(--czerw);
}
/* HEADER */
header{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    overflow: hidden;
}
header>img{
    display: block;
    height: 100%;
    border-radius: 10%;
    width: 3%;
    float: left;
}
/* NAWIGACJA */
nav{
    text-align: right;
    width: 97%;
    height: 100%;
    display: inline-block;
}
@keyframes czekanie{
    0%{
        border-color: rgb(0, 129, 161);
    }
    25%{
        border-color: var(--czerw);
    }
    50%{
        border-color: rgb(255, 174, 0);
    }
    75%{
        border-color: var(--czerw);
    }
    100%{
        border-color: rgb(0, 129, 161);
    }
}
@keyframes linkam {
    0%{
        color: rgb(0, 129, 161);
        position: relative;
        top: 0;
    }
    25%{
        color:var(--czerw);
        top: .5em;
    }
    50%{
        top: -1em;
    }
    75%{
        transform: translate(0,.5em) scale(0.8);
        -webkit-transform: translate(0,.5em) scale(0.8);
        -moz-transform: translate(0,.5em) scale(0.8);
        -ms-transform: translate(0,.5em) scale(0.8);
        -o-transform: translate(0,.5em) scale(0.8);
    }
    100%{
        top: 0;
    }
}
nav>a,#sg>a{
    font-weight: bolder;
    display: inline-block;
    margin: .5rem;
    padding: .5rem;
    cursor: pointer;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    -ms-transition: all 300ms;
    border: rgb(0, 129, 161) solid 0.01em;
    border-radius: 10rem;
    animation-name: czekanie;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    -webkit-animation-name: czekanie;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: czekanie;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -ms-animation-name: czekanie;
    -ms-animation-duration: 3s;
    -ms-animation-iteration-count: infinite;
    -o-animation-name: czekanie;
    -o-animation-duration: 3s;
    -o-animation-iteration-count: infinite;
}
nav>a:hover,#sg>a:hover{
    color: rgb(0, 129, 161);
    transform: skewX(180deg);
    -moz-transform: skewX(180deg);
    -webkit-transform: skewX(180deg);
    -o-transform: skewX(180deg);
    -ms-transform: skewX(180deg);
}
main{
    width: 100%;
    height: 100%;
    display: inline-block;

}
/* STRONA GŁÓWNA*/
#sg{
    background-image: url("../images/website/sg_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: inline-block;
}
#sg>p{
    font-size: 1.5rem;
    padding:20px;
    margin: 0;
}
#sg>p:first-child{
    margin-top: 10rem;
}
#sg>p:last-child{
    margin-bottom: 20rem;
}
#sg>a{
    text-align: center;
    display: block;
    font-size: 1rem;
    border: red solid .1em;
    border-radius: 2em;
    margin-right: 75%;
    padding: 1em;
}
/* O MNIE */
#om{
    margin-top: 1em;
    width: 100%;
    display: inline-block;
    overflow: hidden;
    border-bottom: red dotted .5em;
    border-radius: 7em;
    border-top: red dotted .5em;
}
#om>img{
    display: block;
    float: left;
    width: 40%;
    border:red solid .2em;
    border-radius: 10em;
    margin: 2rem 1em 1em 1em;

}
#om>article{
    font-size: 1.5em;
    overflow: hidden;
    width: 50%;
    display: block;
    text-align: center;
    margin-left: 1em;
}
#om>article>h1{
    font-size: 2rem;
    border-bottom: red dashed 0.125em;
}
/* TECHNOLOGIE */
#tech{
    font-size: 1rem;
    display: inline-block;
    width: 100%;
    text-align: center;
}
#tech>h1{
    font-size: 2rem;
    border-bottom: red solid .07em;
    margin-left: 5%;
    margin-right: 5%;
}
#tech>p{
    font-family: sans-serif;
    font-size: 1rem;
}
#tech>div{
    display: inline-block;
    margin: 1rem;
}
#tech>div>a{
    transition: all linear .3s;
    -moz-transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    -ms-transition: all linear .3s;
    display: block;
    font-weight: bold;
}
#tech>div>a>p{
    margin: 0;
    animation-name: linkam;
    -moz-animation-name: linkam;
    -ms-animation-name: linkam;
    -o-animation-name: linkam;
    -webkit-animation-name: linkam;
    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    -o-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;
}
#tech>div>a:hover,#sm>div:hover{
    opacity: 0.5;
    box-shadow: 0em .15em .15em .15em white;
    transform: scale(0.8) translate(-5%,-5%);
    -webkit-transform: scale(0.8) translate(-5%,-5%);
    -ms-transform: scale(0.8) translate(-5%,-5%);
    -moz-transform: scale(0.8) translate(-5%,-5%);
    -o-transform: scale(0.8) translate(-5%,-5%);
}
/* Portfolio */
#port{
    border-top: var(--czerw) solid .01em;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 2rem;
}
#port>h1{
    border-bottom: red solid .1rem;
    margin-left: 5%;
    margin-right: 5%;
}
#port>a{
    display: inline-block;
    width: 40%;
    margin: 1%;
}
#port>a>img{
    width: 100%;
}
/* SocialMedia */
#sm{
    display: inline-block;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    border-top: red solid .01rem;
}
#sm>h1{
    border-bottom: red solid .1rem;
    margin-left: 5%;
    margin-right: 5%;
}
#sm>div{
    transition: all linear .3s;
    -moz-transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    -ms-transition: all linear .3s;
    display: inline-block;
    margin: 1rem;
}
#sm>div>a>p{
    animation-name: linkam;
    -moz-animation-name: linkam;
    -ms-animation-name: linkam;
    -o-animation-name: linkam;
    -webkit-animation-name: linkam;
    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    -o-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -ms-animation-duration: 2s;
}
/* STOPKA */
footer{
    border-top: solid red .1em;
    text-align: center;
    width: 100%;
    font-size: 1em;
    display: inline-block;
}
footer>span>p{
    cursor: pointer; 
    font-size: 1rem; 
    display: inline-block;
    margin: 0;
    margin-top: 1em;
}
footer>p:last-child{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1rem;
    border: dashed red 0.2em;
    border-radius: 10rem;
    padding: 1em;
    border-width: medium;
}
/* FORMULARZ KONTAKT */
body>form{
    display: none;
}