
/* SocialMedia */

#sm{
    display: inline-block;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    border-top: red solid .01rem;
}
#sm>h1{
    font-size: 2rem;
    border-bottom: red solid .1rem;
    margin-left: 5%;
    margin-right: 5%;
    animation-name: naglowek;
    -moz-animation-name: naglowek;
    -webkit-animation-name: naglowek;
    -ms-animation-name: naglowek;
    -o-animation-name: naglowek;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
    -ms-animation-duration: 3s;
    -o-animation-duration: 3s;
    -moz-animation-duration: 3s;
}
#sm>div{
    transition: all linear .3s;
    -moz-transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -o-transition: all linear .3s;
    -ms-transition: all linear .3s;
    display: inline-block;
    margin: .5rem;
    width: 140px;
}
#sm>div>a>p{
    animation-name: linkam;
    -moz-animation-name: linkam;
    -ms-animation-name: linkam;
    -o-animation-name: linkam;
    -webkit-animation-name: linkam;
    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-duration: 6s;
    -webkit-animation-duration: 6s;
    -o-animation-duration: 6s;
    -moz-animation-duration: 6s;
    -ms-animation-duration: 6s;
}
