
/* STRONA GŁÓWNA*/

#sg{
    background-image: url("../images/website/sg_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: inline-block;
}
#sg>p{
    font-size: 1.5rem;
    padding:20px;
    margin: 0;
}
#sg>p:first-child{
    margin-top: 10rem;
}
#sg>a{
    text-align: center;
    font-size: 1rem;
    border: red solid .1em;
    border-radius: 2em;
    width: 30vw;
    padding: 1em;
}
#sg>a{
    -webkit-box-reflect: below 100% linear-gradient(transparent, white);
}
/* KOMPATYBILNOŚĆ */

@media only screen and (max-width: 800px) {
    #sg>a{
        width: 60vw;
    }
}